<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Forecast</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/add}" th:object="${forecastWrapper}">
    <label for="day">Day: </label>
    <input type="text" th:field="*{dateDto.day}" id="day"/>
    <br>
    <label for="month">Month: </label>
    <input type="text" th:field="*{dateDto.month}" id="month"/>
    <br>
    <label for="year">Year: </label>
    <input type="text" th:field="*{dateDto.year}" id="year"/>
    <br>

    <label for="temperature">Temperature</label>
    <input type="text" th:field="*{forecastDto.temperature}" id="temperature"/>
    <br>
    <label for="rainChance">RainChance</label>
    <input type="text" th:field="*{forecastDto.rainChance}" id="rainChance"/>
    <br>
    <label for="description">Description</label>
    <input type="text" th:field="*{forecastDto.description}" id="description"/>
    <br>

    <label for="cityTitle">CityTitle</label>
    <input type="text" th:field="*{locationDto.cityTitle}" id="cityTitle"/>
    <br>
    <label for="region">Region</label>
    <input type="text" th:field="*{locationDto.region}" id="region"/>
    <br>
    <input type="submit" value="Create">
</form>
</body>
</html>