<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forecast form</title>
</head>
<body>
<form th:method="POST" th:action="@{/forecast/get}">
    <label for="city">City</label>
    <input type="text" th:name="cityTitle" id="city"/>
    <br>
    <label for="day">Day</label>
    <input type="text" th:name="day" id="day"/>
    <br>
    <label for="month">Month</label>
    <input type="text" th:name="month" id="month"/>
    <br>
    <label for="year">Year</label>
    <input type="text" th:name="year" id="year"/>
    <input type="submit" value="Get">
</form>
</body>
</html>